include CMakeLists.txt
include MANIFEST.in
include README.md
include pyproject.toml
include setup.py
include vendor/pycparser/utils/fake_libc_include/X11/Intrinsic.h
include vendor/pycparser/utils/fake_libc_include/X11/Xlib.h
include vendor/pycparser/utils/fake_libc_include/X11/_X11_fake_defines.h
include vendor/pycparser/utils/fake_libc_include/X11/_X11_fake_typedefs.h
include vendor/pycparser/utils/fake_libc_include/_ansi.h
include vendor/pycparser/utils/fake_libc_include/_fake_defines.h
include vendor/pycparser/utils/fake_libc_include/_fake_typedefs.h
include vendor/pycparser/utils/fake_libc_include/_syslist.h
include vendor/pycparser/utils/fake_libc_include/aio.h
include vendor/pycparser/utils/fake_libc_include/alloca.h
include vendor/pycparser/utils/fake_libc_include/ar.h
include vendor/pycparser/utils/fake_libc_include/argz.h
include vendor/pycparser/utils/fake_libc_include/arpa/inet.h
include vendor/pycparser/utils/fake_libc_include/asm-generic/int-ll64.h
include vendor/pycparser/utils/fake_libc_include/assert.h
include vendor/pycparser/utils/fake_libc_include/complex.h
include vendor/pycparser/utils/fake_libc_include/cpio.h
include vendor/pycparser/utils/fake_libc_include/ctype.h
include vendor/pycparser/utils/fake_libc_include/dirent.h
include vendor/pycparser/utils/fake_libc_include/dlfcn.h
include vendor/pycparser/utils/fake_libc_include/emmintrin.h
include vendor/pycparser/utils/fake_libc_include/endian.h
include vendor/pycparser/utils/fake_libc_include/envz.h
include vendor/pycparser/utils/fake_libc_include/errno.h
include vendor/pycparser/utils/fake_libc_include/fastmath.h
include vendor/pycparser/utils/fake_libc_include/fcntl.h
include vendor/pycparser/utils/fake_libc_include/features.h
include vendor/pycparser/utils/fake_libc_include/fenv.h
include vendor/pycparser/utils/fake_libc_include/float.h
include vendor/pycparser/utils/fake_libc_include/fmtmsg.h
include vendor/pycparser/utils/fake_libc_include/fnmatch.h
include vendor/pycparser/utils/fake_libc_include/ftw.h
include vendor/pycparser/utils/fake_libc_include/getopt.h
include vendor/pycparser/utils/fake_libc_include/glob.h
include vendor/pycparser/utils/fake_libc_include/grp.h
include vendor/pycparser/utils/fake_libc_include/iconv.h
include vendor/pycparser/utils/fake_libc_include/ieeefp.h
include vendor/pycparser/utils/fake_libc_include/immintrin.h
include vendor/pycparser/utils/fake_libc_include/inttypes.h
include vendor/pycparser/utils/fake_libc_include/iso646.h
include vendor/pycparser/utils/fake_libc_include/langinfo.h
include vendor/pycparser/utils/fake_libc_include/libgen.h
include vendor/pycparser/utils/fake_libc_include/libintl.h
include vendor/pycparser/utils/fake_libc_include/limits.h
include vendor/pycparser/utils/fake_libc_include/linux/socket.h
include vendor/pycparser/utils/fake_libc_include/linux/version.h
include vendor/pycparser/utils/fake_libc_include/locale.h
include vendor/pycparser/utils/fake_libc_include/malloc.h
include vendor/pycparser/utils/fake_libc_include/math.h
include vendor/pycparser/utils/fake_libc_include/mir_toolkit/client_types.h
include vendor/pycparser/utils/fake_libc_include/monetary.h
include vendor/pycparser/utils/fake_libc_include/mqueue.h
include vendor/pycparser/utils/fake_libc_include/ndbm.h
include vendor/pycparser/utils/fake_libc_include/net/if.h
include vendor/pycparser/utils/fake_libc_include/netdb.h
include vendor/pycparser/utils/fake_libc_include/netinet/in.h
include vendor/pycparser/utils/fake_libc_include/netinet/tcp.h
include vendor/pycparser/utils/fake_libc_include/newlib.h
include vendor/pycparser/utils/fake_libc_include/nl_types.h
include vendor/pycparser/utils/fake_libc_include/openssl/err.h
include vendor/pycparser/utils/fake_libc_include/openssl/evp.h
include vendor/pycparser/utils/fake_libc_include/openssl/hmac.h
include vendor/pycparser/utils/fake_libc_include/openssl/ssl.h
include vendor/pycparser/utils/fake_libc_include/openssl/x509v3.h
include vendor/pycparser/utils/fake_libc_include/paths.h
include vendor/pycparser/utils/fake_libc_include/poll.h
include vendor/pycparser/utils/fake_libc_include/process.h
include vendor/pycparser/utils/fake_libc_include/pthread.h
include vendor/pycparser/utils/fake_libc_include/pwd.h
include vendor/pycparser/utils/fake_libc_include/reent.h
include vendor/pycparser/utils/fake_libc_include/regdef.h
include vendor/pycparser/utils/fake_libc_include/regex.h
include vendor/pycparser/utils/fake_libc_include/sched.h
include vendor/pycparser/utils/fake_libc_include/search.h
include vendor/pycparser/utils/fake_libc_include/semaphore.h
include vendor/pycparser/utils/fake_libc_include/setjmp.h
include vendor/pycparser/utils/fake_libc_include/signal.h
include vendor/pycparser/utils/fake_libc_include/smmintrin.h
include vendor/pycparser/utils/fake_libc_include/spawn.h
include vendor/pycparser/utils/fake_libc_include/stdalign.h
include vendor/pycparser/utils/fake_libc_include/stdarg.h
include vendor/pycparser/utils/fake_libc_include/stdatomic.h
include vendor/pycparser/utils/fake_libc_include/stdbool.h
include vendor/pycparser/utils/fake_libc_include/stddef.h
include vendor/pycparser/utils/fake_libc_include/stdint.h
include vendor/pycparser/utils/fake_libc_include/stdio.h
include vendor/pycparser/utils/fake_libc_include/stdlib.h
include vendor/pycparser/utils/fake_libc_include/stdnoreturn.h
include vendor/pycparser/utils/fake_libc_include/string.h
include vendor/pycparser/utils/fake_libc_include/strings.h
include vendor/pycparser/utils/fake_libc_include/stropts.h
include vendor/pycparser/utils/fake_libc_include/sys/ioctl.h
include vendor/pycparser/utils/fake_libc_include/sys/ipc.h
include vendor/pycparser/utils/fake_libc_include/sys/mman.h
include vendor/pycparser/utils/fake_libc_include/sys/msg.h
include vendor/pycparser/utils/fake_libc_include/sys/poll.h
include vendor/pycparser/utils/fake_libc_include/sys/resource.h
include vendor/pycparser/utils/fake_libc_include/sys/select.h
include vendor/pycparser/utils/fake_libc_include/sys/sem.h
include vendor/pycparser/utils/fake_libc_include/sys/shm.h
include vendor/pycparser/utils/fake_libc_include/sys/socket.h
include vendor/pycparser/utils/fake_libc_include/sys/stat.h
include vendor/pycparser/utils/fake_libc_include/sys/statvfs.h
include vendor/pycparser/utils/fake_libc_include/sys/sysctl.h
include vendor/pycparser/utils/fake_libc_include/sys/time.h
include vendor/pycparser/utils/fake_libc_include/sys/times.h
include vendor/pycparser/utils/fake_libc_include/sys/types.h
include vendor/pycparser/utils/fake_libc_include/sys/uio.h
include vendor/pycparser/utils/fake_libc_include/sys/un.h
include vendor/pycparser/utils/fake_libc_include/sys/utsname.h
include vendor/pycparser/utils/fake_libc_include/sys/wait.h
include vendor/pycparser/utils/fake_libc_include/syslog.h
include vendor/pycparser/utils/fake_libc_include/tar.h
include vendor/pycparser/utils/fake_libc_include/termios.h
include vendor/pycparser/utils/fake_libc_include/tgmath.h
include vendor/pycparser/utils/fake_libc_include/threads.h
include vendor/pycparser/utils/fake_libc_include/time.h
include vendor/pycparser/utils/fake_libc_include/trace.h
include vendor/pycparser/utils/fake_libc_include/ulimit.h
include vendor/pycparser/utils/fake_libc_include/unctrl.h
include vendor/pycparser/utils/fake_libc_include/unistd.h
include vendor/pycparser/utils/fake_libc_include/utime.h
include vendor/pycparser/utils/fake_libc_include/utmp.h
include vendor/pycparser/utils/fake_libc_include/utmpx.h
include vendor/pycparser/utils/fake_libc_include/wchar.h
include vendor/pycparser/utils/fake_libc_include/wctype.h
include vendor/pycparser/utils/fake_libc_include/wordexp.h
include vendor/pycparser/utils/fake_libc_include/xcb/xcb.h
include vendor/pycparser/utils/fake_libc_include/zlib.h
include vendor/whisper.cpp/.github/workflows/bindings-go.yml
include vendor/whisper.cpp/.github/workflows/bindings-ruby.yml
include vendor/whisper.cpp/.github/workflows/build.yml
include vendor/whisper.cpp/.github/workflows/examples.yml
include vendor/whisper.cpp/.gitignore
include vendor/whisper.cpp/.gitmodules
include vendor/whisper.cpp/CMakeLists.txt
include vendor/whisper.cpp/LICENSE
include vendor/whisper.cpp/Makefile
include vendor/whisper.cpp/README.md
include vendor/whisper.cpp/bindings/CMakeLists.txt
include vendor/whisper.cpp/bindings/go/.gitignore
include vendor/whisper.cpp/bindings/go/LICENSE
include vendor/whisper.cpp/bindings/go/Makefile
include vendor/whisper.cpp/bindings/go/README.md
include vendor/whisper.cpp/bindings/go/doc.go
include vendor/whisper.cpp/bindings/go/examples/go-model-download/context.go
include vendor/whisper.cpp/bindings/go/examples/go-model-download/main.go
include vendor/whisper.cpp/bindings/go/examples/go-whisper/color.go
include vendor/whisper.cpp/bindings/go/examples/go-whisper/flags.go
include vendor/whisper.cpp/bindings/go/examples/go-whisper/main.go
include vendor/whisper.cpp/bindings/go/examples/go-whisper/process.go
include vendor/whisper.cpp/bindings/go/go.mod
include vendor/whisper.cpp/bindings/go/go.sum
include vendor/whisper.cpp/bindings/go/params.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/consts.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/context.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/context_test.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/doc.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/interface.go
include vendor/whisper.cpp/bindings/go/pkg/whisper/model.go
include vendor/whisper.cpp/bindings/go/samples/jfk.wav
include vendor/whisper.cpp/bindings/go/whisper.go
include vendor/whisper.cpp/bindings/go/whisper_test.go
include vendor/whisper.cpp/bindings/ios/.github/workflows/swift.yml
include vendor/whisper.cpp/bindings/ios/.gitignore
include vendor/whisper.cpp/bindings/ios/LICENSE
include vendor/whisper.cpp/bindings/ios/Makefile
include vendor/whisper.cpp/bindings/ios/Makefile-tmpl
include vendor/whisper.cpp/bindings/ios/Package.swift
include vendor/whisper.cpp/bindings/ios/README.md
include vendor/whisper.cpp/bindings/ios/Sources/test-objc/main.m
include vendor/whisper.cpp/bindings/ios/Sources/test-swift/main.swift
include vendor/whisper.cpp/bindings/ios/Sources/whisper/ggml.c
include vendor/whisper.cpp/bindings/ios/Sources/whisper/ggml.h
include vendor/whisper.cpp/bindings/ios/Sources/whisper/include/whisper.h
include vendor/whisper.cpp/bindings/ios/Sources/whisper/whisper.cpp
include vendor/whisper.cpp/bindings/ios/models/for-tests-ggml-base.en.bin
include vendor/whisper.cpp/bindings/ios/publish-trigger
include vendor/whisper.cpp/bindings/javascript/.gitignore
include vendor/whisper.cpp/bindings/javascript/CMakeLists.txt
include vendor/whisper.cpp/bindings/javascript/README.md
include vendor/whisper.cpp/bindings/javascript/emscripten.cpp
include vendor/whisper.cpp/bindings/javascript/libwhisper.worker.js
include vendor/whisper.cpp/bindings/javascript/package-tmpl.json
include vendor/whisper.cpp/bindings/javascript/package.json
include vendor/whisper.cpp/bindings/javascript/whisper.js
include vendor/whisper.cpp/bindings/ruby/ext/.gitignore
include vendor/whisper.cpp/bindings/ruby/ext/extconf.rb
include vendor/whisper.cpp/bindings/ruby/ext/ruby_whisper.cpp
include vendor/whisper.cpp/bindings/ruby/ext/ruby_whisper.h
include vendor/whisper.cpp/bindings/ruby/tests/test_whisper.rb
include vendor/whisper.cpp/cmake/BuildTypes.cmake
include vendor/whisper.cpp/cmake/DefaultTargetOptions.cmake
include vendor/whisper.cpp/cmake/GitVars.cmake
include vendor/whisper.cpp/coreml/whisper-decoder-impl.h
include vendor/whisper.cpp/coreml/whisper-decoder-impl.m
include vendor/whisper.cpp/coreml/whisper-encoder-impl.h
include vendor/whisper.cpp/coreml/whisper-encoder-impl.m
include vendor/whisper.cpp/coreml/whisper-encoder.h
include vendor/whisper.cpp/coreml/whisper-encoder.mm
include vendor/whisper.cpp/examples/CMakeLists.txt
include vendor/whisper.cpp/examples/addon.node/.gitignore
include vendor/whisper.cpp/examples/addon.node/CMakeLists.txt
include vendor/whisper.cpp/examples/addon.node/README.md
include vendor/whisper.cpp/examples/addon.node/__test__/whisper.spec.js
include vendor/whisper.cpp/examples/addon.node/addon.cpp
include vendor/whisper.cpp/examples/addon.node/index.js
include vendor/whisper.cpp/examples/addon.node/package.json
include vendor/whisper.cpp/examples/bench.wasm/CMakeLists.txt
include vendor/whisper.cpp/examples/bench.wasm/README.md
include vendor/whisper.cpp/examples/bench.wasm/emscripten.cpp
include vendor/whisper.cpp/examples/bench.wasm/index-tmpl.html
include vendor/whisper.cpp/examples/bench/CMakeLists.txt
include vendor/whisper.cpp/examples/bench/README.md
include vendor/whisper.cpp/examples/bench/bench.cpp
include vendor/whisper.cpp/examples/command.wasm/CMakeLists.txt
include vendor/whisper.cpp/examples/command.wasm/README.md
include vendor/whisper.cpp/examples/command.wasm/emscripten.cpp
include vendor/whisper.cpp/examples/command.wasm/index-tmpl.html
include vendor/whisper.cpp/examples/command/CMakeLists.txt
include vendor/whisper.cpp/examples/command/README.md
include vendor/whisper.cpp/examples/command/command.cpp
include vendor/whisper.cpp/examples/command/commands.txt
include vendor/whisper.cpp/examples/common-ggml.cpp
include vendor/whisper.cpp/examples/common-ggml.h
include vendor/whisper.cpp/examples/common-sdl.cpp
include vendor/whisper.cpp/examples/common-sdl.h
include vendor/whisper.cpp/examples/common.cpp
include vendor/whisper.cpp/examples/common.h
include vendor/whisper.cpp/examples/dr_wav.h
include vendor/whisper.cpp/examples/generate-karaoke.sh
include vendor/whisper.cpp/examples/helpers.js
include vendor/whisper.cpp/examples/livestream.sh
include vendor/whisper.cpp/examples/main/CMakeLists.txt
include vendor/whisper.cpp/examples/main/README.md
include vendor/whisper.cpp/examples/main/main.cpp
include vendor/whisper.cpp/examples/quantize/CMakeLists.txt
include vendor/whisper.cpp/examples/quantize/README.md
include vendor/whisper.cpp/examples/quantize/quantize.cpp
include vendor/whisper.cpp/examples/stream.wasm/CMakeLists.txt
include vendor/whisper.cpp/examples/stream.wasm/README.md
include vendor/whisper.cpp/examples/stream.wasm/emscripten.cpp
include vendor/whisper.cpp/examples/stream.wasm/index-tmpl.html
include vendor/whisper.cpp/examples/stream/CMakeLists.txt
include vendor/whisper.cpp/examples/stream/README.md
include vendor/whisper.cpp/examples/stream/stream.cpp
include vendor/whisper.cpp/examples/talk-llama/.gitignore
include vendor/whisper.cpp/examples/talk-llama/CMakeLists.txt
include vendor/whisper.cpp/examples/talk-llama/README.md
include vendor/whisper.cpp/examples/talk-llama/eleven-labs.py
include vendor/whisper.cpp/examples/talk-llama/llama-util.h
include vendor/whisper.cpp/examples/talk-llama/llama.cpp
include vendor/whisper.cpp/examples/talk-llama/llama.h
include vendor/whisper.cpp/examples/talk-llama/prompts/talk-alpaca.txt
include vendor/whisper.cpp/examples/talk-llama/speak.sh
include vendor/whisper.cpp/examples/talk-llama/talk-llama.cpp
include vendor/whisper.cpp/examples/talk.wasm/CMakeLists.txt
include vendor/whisper.cpp/examples/talk.wasm/README.md
include vendor/whisper.cpp/examples/talk.wasm/emscripten.cpp
include vendor/whisper.cpp/examples/talk.wasm/gpt-2.cpp
include vendor/whisper.cpp/examples/talk.wasm/gpt-2.h
include vendor/whisper.cpp/examples/talk.wasm/index-tmpl.html
include vendor/whisper.cpp/examples/talk/.gitignore
include vendor/whisper.cpp/examples/talk/CMakeLists.txt
include vendor/whisper.cpp/examples/talk/README.md
include vendor/whisper.cpp/examples/talk/eleven-labs.py
include vendor/whisper.cpp/examples/talk/gpt-2.cpp
include vendor/whisper.cpp/examples/talk/gpt-2.h
include vendor/whisper.cpp/examples/talk/speak.sh
include vendor/whisper.cpp/examples/talk/talk.cpp
include vendor/whisper.cpp/examples/twitch.sh
include vendor/whisper.cpp/examples/whisper.android/.gitignore
include vendor/whisper.cpp/examples/whisper.android/.idea/.gitignore
include vendor/whisper.cpp/examples/whisper.android/.idea/.name
include vendor/whisper.cpp/examples/whisper.android/.idea/compiler.xml
include vendor/whisper.cpp/examples/whisper.android/.idea/gradle.xml
include vendor/whisper.cpp/examples/whisper.android/.idea/misc.xml
include vendor/whisper.cpp/examples/whisper.android/.idea/vcs.xml
include vendor/whisper.cpp/examples/whisper.android/README.md
include vendor/whisper.cpp/examples/whisper.android/app/.gitignore
include vendor/whisper.cpp/examples/whisper.android/app/build.gradle
include vendor/whisper.cpp/examples/whisper.android/app/proguard-rules.pro
include vendor/whisper.cpp/examples/whisper.android/app/src/androidTest/java/com/whispercppdemo/ExampleInstrumentedTest.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/AndroidManifest.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/MainActivity.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/media/RiffWaveHelper.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/recorder/Recorder.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/main/MainScreen.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/main/MainScreenViewModel.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Color.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Theme.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Type.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/whisper/LibWhisper.kt
include vendor/whisper.cpp/examples/whisper.android/app/src/main/jni/whisper/Android.mk
include vendor/whisper.cpp/examples/whisper.android/app/src/main/jni/whisper/Application.mk
include vendor/whisper.cpp/examples/whisper.android/app/src/main/jni/whisper/Whisper.mk
include vendor/whisper.cpp/examples/whisper.android/app/src/main/jni/whisper/jni.c
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/drawable/ic_launcher_background.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/drawable/ic_launcher_foreground.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/values/colors.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/values/strings.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/values/themes.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/xml/backup_rules.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/main/res/xml/data_extraction_rules.xml
include vendor/whisper.cpp/examples/whisper.android/app/src/test/java/com/whispercppdemo/ExampleUnitTest.kt
include vendor/whisper.cpp/examples/whisper.android/build.gradle
include vendor/whisper.cpp/examples/whisper.android/gradle.properties
include vendor/whisper.cpp/examples/whisper.android/gradle/wrapper/gradle-wrapper.jar
include vendor/whisper.cpp/examples/whisper.android/gradle/wrapper/gradle-wrapper.properties
include vendor/whisper.cpp/examples/whisper.android/gradlew
include vendor/whisper.cpp/examples/whisper.android/gradlew.bat
include vendor/whisper.cpp/examples/whisper.android/settings.gradle
include vendor/whisper.cpp/examples/whisper.nvim/README.md
include vendor/whisper.cpp/examples/whisper.nvim/whisper.nvim
include vendor/whisper.cpp/examples/whisper.objc/README.md
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.pbxproj
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/contents.xcworkspacedata
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/AppDelegate.h
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/AppDelegate.m
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/AccentColor.colorset/Contents.json
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/AppIcon.appiconset/Contents.json
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/Contents.json
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Base.lproj/LaunchScreen.storyboard
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Base.lproj/Main.storyboard
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/Info.plist
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/SceneDelegate.h
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/SceneDelegate.m
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/ViewController.h
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/ViewController.m
include vendor/whisper.cpp/examples/whisper.objc/whisper.objc/main.m
include vendor/whisper.cpp/examples/whisper.swiftui/README.md
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.cpp.swift/LibWhisper.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.cpp.swift/WhisperCppDemo-Bridging-Header.h
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Models/WhisperState.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Resources/models/.gitignore
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Resources/samples/.gitignore
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/AccentColor.colorset/Contents.json
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/AppIcon.appiconset/Contents.json
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/Contents.json
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Preview Content/Preview Assets.xcassets/Contents.json
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/WhisperCppDemo.entitlements
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/UI/ContentView.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Utils/Recorder.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Utils/RiffWaveUtils.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/WhisperCppDemoApp.swift
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/.gitignore
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/project.pbxproj
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/project.xcworkspace/.gitignore
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
include vendor/whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/xcshareddata/xcschemes/WhisperCppDemo.xcscheme
include vendor/whisper.cpp/examples/whisper.wasm/CMakeLists.txt
include vendor/whisper.cpp/examples/whisper.wasm/README.md
include vendor/whisper.cpp/examples/whisper.wasm/emscripten.cpp
include vendor/whisper.cpp/examples/whisper.wasm/index-tmpl.html
include vendor/whisper.cpp/examples/yt-wsp.sh
include vendor/whisper.cpp/extra/bench-all.sh
include vendor/whisper.cpp/extra/bench-wts.sh
include vendor/whisper.cpp/extra/convert-all.sh
include vendor/whisper.cpp/extra/deploy-wasm.sh
include vendor/whisper.cpp/extra/quantize-all.sh
include vendor/whisper.cpp/extra/sha-all.sh
include vendor/whisper.cpp/extra/sync-ggml.sh
include vendor/whisper.cpp/ggml-cuda.cu
include vendor/whisper.cpp/ggml-cuda.h
include vendor/whisper.cpp/ggml-opencl.c
include vendor/whisper.cpp/ggml-opencl.h
include vendor/whisper.cpp/ggml.c
include vendor/whisper.cpp/ggml.h
include vendor/whisper.cpp/models/.gitignore
include vendor/whisper.cpp/models/README.md
include vendor/whisper.cpp/models/convert-h5-to-ggml.py
include vendor/whisper.cpp/models/convert-pt-to-ggml.py
include vendor/whisper.cpp/models/convert-whisper-to-coreml.py
include vendor/whisper.cpp/models/download-coreml-model.sh
include vendor/whisper.cpp/models/download-ggml-model.cmd
include vendor/whisper.cpp/models/download-ggml-model.sh
include vendor/whisper.cpp/models/for-tests-ggml-base.bin
include vendor/whisper.cpp/models/for-tests-ggml-base.en.bin
include vendor/whisper.cpp/models/for-tests-ggml-large.bin
include vendor/whisper.cpp/models/for-tests-ggml-medium.bin
include vendor/whisper.cpp/models/for-tests-ggml-medium.en.bin
include vendor/whisper.cpp/models/for-tests-ggml-small.bin
include vendor/whisper.cpp/models/for-tests-ggml-small.en.bin
include vendor/whisper.cpp/models/for-tests-ggml-tiny.bin
include vendor/whisper.cpp/models/for-tests-ggml-tiny.en.bin
include vendor/whisper.cpp/models/generate-coreml-interface.sh
include vendor/whisper.cpp/models/generate-coreml-model.sh
include vendor/whisper.cpp/samples/.gitignore
include vendor/whisper.cpp/samples/README.md
include vendor/whisper.cpp/samples/jfk.wav
include vendor/whisper.cpp/tests/.gitignore
include vendor/whisper.cpp/tests/CMakeLists.txt
include vendor/whisper.cpp/tests/en-0-ref.txt
include vendor/whisper.cpp/tests/en-1-ref.txt
include vendor/whisper.cpp/tests/en-2-ref.txt
include vendor/whisper.cpp/tests/es-0-ref.txt
include vendor/whisper.cpp/tests/run-tests.sh
include vendor/whisper.cpp/tests/test-whisper.js
include vendor/whisper.cpp/whisper.cpp
include vendor/whisper.cpp/whisper.h
include whisper_cpp_python/__init__.py
include whisper_cpp_python/whisper.py
exclude MANIFEST.in
